.DS_Store

# ignore bundler config.
/.bundle
bundle.js
bundle.js.map

# ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# ignore byebug command history file.
.byebug_history

# ignore node modules
node_modules/

# ignore application configuration - figaro
/config/application.yml
