.favorite-icon {
  width: 35px;
  height: 35px;
  background-image: image-url("favorite.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.unfavorited {
  opacity: 0.1;
}

.unfavorited:hover {
  opacity: 0.5
}

.favorited {
  opacity: 1;
}
