.favorite-icon {
  width: 35px;
  height: 35px;
  background-image: image-url("favorite.png");
  // background-size: contain;
  // background-repeat: no-repeat;
}

.unfavorited {
  opacity: 0.1;
}

.unfavorited:hover {
  opacity: 0.5
}

.favorited {
  opacity: 1;
}

.icon {
  width: 24px;
  height: 24px;
}

.commute.fields > button {
  width: auto;
}

.filter h4 {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.commute.fields {
    margin: 10px;
    width: 118px;
    margin-left: 0;
    align-items: center;
}

.driving {
  background-image: image-url("driving-navy.png");
}

.transit {
  background-image: image-url("transit-navy.png");
}

.walking {
  background-image: image-url("walking-navy.png");
}

#commute-map {
  height: 250px;
  width: 100%;
  // margin: 10px 0;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.work.modal {
  width: 500px;
}

.comparison-list ul {
  text-transform: capitalize;
}

.comparison-list ul li ul {
  display: flex;
  justify-content: space-between;
    display: flex;
    // flex-direction: column;
    // margin: 10px 0;
      border-top: 1px solid #AB987A;
      flex: 1;
}

.comparison-list ul li ul li {
      width: 100px;
    padding: 0 5px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 1px solid #AB987A;
}



.comparison-list ul li:nth-child(odd) {
    background: #F1F1F1;
}

.comparison-list ul li:nth-child(even) {
    background: #FAFAFA;
}
