$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

.modal {
    // width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.session.modal {
  width: 300px;
}

// .modal-form > section {
//   // padding: 20px;
//   text-align: center;
//   // display: flex;
//   // justify-content: space-between;
// }

.footer {
      // display: flex;
    // justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal-form form {
  //  margin: 20px 0;
  padding: 20px 0 10px 0;
  //  border-bottom: 1px solid #FF533D;
}

.modal-form section {
width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.modal-btn {
  cursor: pointer;
      /* background: #a5cfe2; */
    /* border-radius: 2px; */
    /* border: 1px solid #8EAEBD; */
    background: #e8edf3;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.modal-btn:hover {
  background: #8EAEBD;
}

.modal-form-field {
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid $light-blue;
  border-radius: 2px;
  align-items: center;
  cursor: text;
  font-size: 14px;
}

.header {
  border-bottom: 1px solid #FF533D;
  padding-bottom: 20px;
}

.header > .logo-img {
  width: 40px;
  height: 40px;
}

.footer {
  border-top: 1px solid #FF533D;
    padding-top: 20px;
}

.footer > .logo-img {
  width: 20px;
  height: 20px;
}

// .modal-form-field:focus {
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
// }

.email-img {
  background-image: image-url('email.png');
  width: 20px;
  height: 20px;
}

.password-img {
  background-image: image-url('locked.png');
  width: 20px;
  height: 20px;
}

.name-img {
  background-image: image-url('user.png');
  width: 20px;
  height: 20px;
}


.switch-session-form {
  cursor: pointer;
  color: $light-blue;
}

.switch-session-form:hover {
  color: $navy-blue;
}

.session-errors {
  font-size: 12px;
  text-align: center;
}
