$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

.app {

}

.search {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

#map {
  width:100%;
}

.sidebar {
  overflow-y: scroll;
  min-width: 550px;
  background: $light-grey;
  font-size: 14px;
}

.filters {
  margin: 10px;
  background: white;
  border: 1px solid $light-blue;
  border-radius: 1px;
  padding: 10px;
}

.filters > form {
  // margin: 10px;
  // background: white;
  // border: 1px solid #8EAEBD;
  // border-radius: 1px;
}

.filter {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FF533D;
  align-items: center;
  padding: 20px 0;
  // margin: 0 20px;
}

.filter > h3 {
  width: 250px;
  font-size: 18px;
}

.filter > .fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.fields label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 2px;
}

.rent {
  display: flex;
  border: 1px solid $light-blue;
  border-radius: 1px;
  align-items: center;
  cursor: text;
  margin-left: 2px;
}

.rent > .dollar-img {
  background-image: image-url('dollar.png');
  height: 20px;
  width: 20px;
}

.rent > input {
  text-align: right;
  padding: 5px 0;
  width: 100px;
  border-radius: 1px;
}

.fields > button {
  background: $light-grey;
  border-radius: 1px;
  border: 1px solid $light-blue;
  padding: 5px 0;
  width: 100%;
  margin-left: 2px;
  text-align: center;
  text-transform: capitalize;
}

.fields > button:hover {
  background: $dark-grey;
}

.fields > button.selected {
  background:$light-blue;
  // color: white;
}

.sidebar-buttons {
  display: flex;
padding-top: 20px;
  justify-content: space-between;
}

.sidebar-buttons button {
    /* background: #a5cfe2; */
    /* border-radius: 1px; */
    /* border: 1px solid #8EAEBD; */
    background: $light-grey;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    // font-size: 16px;
  }

.sidebar-buttons button:hover {
  background: $light-blue;
}

.sidebar-buttons button:nth-child(1) {
  margin-right: 2px;
}

.hidden {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

.expanded {
  height: 210px;
    overflow: hidden;
  transition: height 0.5s;
}


#street-view {
  width: 100%;
  height: 250px;
}


/* about me *********************/

.about-me {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.about-me div {
  width: 24px;
  height: 24px;
  margin: 0 1px;
  opacity: 0.5;
}

.about-me div:hover {
  opacity: 0.9;
}

.github {
  background-image: image-url('github-logo.png');
}

.linkedin {
  background-image: image-url('linkedin-logo.png');
}
