$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$medium-grey: #d0dae6;
$dark-grey: #8A9299;

#app {
  display: flex;
  min-height: 100vh;
  min-width: 1000px;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex: 1;
  align-items: stretch;
  flex-direction: row;
  min-height: 500px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

#map {
  width:100%;
  flex: 1;
  min-height: 400px;
}

#sidebar {
  overflow-y: scroll;
  min-width: 500px;
  max-width: 500px;
  background: $light-grey;
  font-size: 14px;
  padding: 10px;
}

.sidebar-btns {
  display: flex;
  justify-content: space-between;
}

.sidebar-btns button {
  background: $light-grey;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-btns button:nth-child(1) {
  margin-right: 5px;
}

.icon {
  width: 24px;
  height: 24px;
}

/* scroll up button *********************/

.scroll-up-icon {
  width: 35px;
  height: 35px;
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/up-arrow.png");
  z-index: 1;
  position: absolute;
  right: 70px;
  bottom: 70px;
  opacity: 0.3;
}

.scroll-up-icon:hover {
  opacity: 0.9;
}

  /* about me *********************/

.about-me {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.about-me div {
  width: 24px;
  height: 24px;
  margin: 0 1px;
  opacity: 0.5;
}

.about-me div:hover {
  opacity: 0.9;
}

.github {
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929811/icons/github-logo.png");
}

.linkedin {
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929811/icons/linkedin-logo.png");
}
