$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.search {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  flex: 1;
  align-items: stretch;
  flex-direction: row;
}

#map {
  width:100%;
}

#sidebar {
  overflow-y: scroll;
  min-width: 550px;
  background: $light-grey;
  font-size: 14px;
}

.sidebar-buttons {
  display: flex;
  // padding-top: 20px;
  justify-content: space-between;
}

.sidebar-buttons button {
    /* background: #a5cfe2; */
    /* border-radius: 1px; */
    /* border: 1px solid #8EAEBD; */
    background: $light-grey;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    // font-size: 16px;
  }

.sidebar-buttons button:hover {
  background: $light-blue;
}

.sidebar-buttons button:nth-child(1) {
  margin-right: 2px;
}

.hidden {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

.expanded {
  height: 210px;
    overflow: hidden;
  transition: height 0.5s;
}


#street-view {
  width: 100%;
  height: 250px;
}


/* about me *********************/

.about-me {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.about-me div {
  width: 24px;
  height: 24px;
  margin: 0 1px;
  opacity: 0.5;
}

.about-me div:hover {
  opacity: 0.9;
}

.github {
  background-image: image-url('github-logo.png');
}

.linkedin {
  background-image: image-url('linkedin-logo.png');
}
