$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

.filters {
  margin: 10px;
  background: white;
  border: 1px solid $light-blue;
  border-radius: 1px;
  padding: 10px;
}

.filters > form {
  // margin: 10px;
  // background: white;
  // border: 1px solid #8EAEBD;
  // border-radius: 1px;
}

.filter {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FF533D;
  align-items: center;
  padding: 20px 0;
  // margin: 0 20px;
}

.filter > h3 {
  width: 250px;
  font-size: 18px;
}

.filter > .fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.fields label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 2px;
}

.rent {
  display: flex;
  border: 1px solid $light-blue;
  border-radius: 1px;
  align-items: center;
  cursor: text;
  margin-left: 2px;
}

.rent > .dollar-img {
  background-image: image-url('dollar.png');
  height: 20px;
  width: 20px;
}

.rent > input {
  text-align: right;
  padding: 5px 0;
  width: 100px;
  border-radius: 1px;
}

.fields > button {
  background: $light-grey;
  border-radius: 1px;
  border: 1px solid $light-blue;
  padding: 5px 0;
  width: 100%;
  margin-left: 2px;
  text-align: center;
  text-transform: capitalize;
}

.fields > button:hover {
  background: $dark-grey;
}

.fields > button.selected {
  background:$light-blue;
  // color: white;
}


/* filter tags *************/

#filter-tags {
  display: none;
  position: fixed;
  z-index: 1;
  width: 508px;
  margin-top: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 9px;
}

.tag {
  background: $light-grey;
  border-radius: 1px;
  border: 1px solid $light-blue;
  padding: 2px 10px;
  // width: 100%;
  // margin-left: 2px;
  // margin-bottom: 2px;
  margin: 0 2px 2px 0;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.tag:hover {
  background: $dark-grey;
}

.cancel {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: image-url("cancel-dark-grey.png");
}

.tag:hover .cancel {
  background-image: image-url("cancel-light-blue.png");
}
// .cancel {
//   width: 12px;
//   height: 12px;
//   background-image: image-url("cancel-dark-grey.png");
// }
