$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #8A9299;

.filters .hidden {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.filters .expanded {
  height: 220px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.filters {
  background: white;
  border: 1px solid $light-blue;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
}

.filters > form {
  padding-bottom: 20px;
}

.filter {
  display: flex;
  border-bottom: 1px solid #FF533D;
  align-items: center;
  padding: 20px 0;
}

.filter h3 {
  width: 250px;
  font-size: 18px;
}

.fields {
  width: 100%;
  display: flex;
  text-transform: capitalize;
}

.fields label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 2px;
}

.rent {
  display: flex;
  border-radius: 2px;
  align-items: center;
  cursor: text;
  margin-left: 2px;
}

.rent > .dollar-img {
  background-image: image-url('dollar.png');
  height: 20px;
  width: 20px;
  margin: 5px;
}

.rent > input {
  text-align: right;
  padding: 5px 0;
  width: 80px;
  border-radius: 2px;
}

.fields > button {
  background: $light-grey;
  border: 1px solid $light-blue;
  padding: 5px;
  width: 100%;
  margin-left: 5px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.fields > button:hover {
  background: $dark-grey;
}

.fields > button:nth-child(1) {
  margin-left: 0;
}

.fields > button.selected {
  background:$light-blue;
}
