.filters {
  overflow-y: scroll;
  min-width: 425px;
  background: #F5F5F5;
  font-size: 14px;
}

.filters form {
  margin: 10px;
  background: white;
  border: 1px solid #8EAEBD;
  border-radius: 2px;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #FF533D;
  align-items: center;
}

.filter h3 {
  width: 125px;
}

.filter-fields {
  width: 225px;
  display: flex;
  text-transform: capitalize;
  margin-left:  2px;
}

.rent {
  flex-direction: column;
}

.filter-fields label {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-fields label input {
  text-align: right;
  padding: 1px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  margin-bottom: 2px;
}

.filter-fields button {
  margin-left: 2px;
}

.filters form > button {
  width: 50%;
  margin: 20px auto;
}

.filter-buttons {
  display: flex;
  padding: 20px 10px;
}

.filter-buttons button {
  padding: 5px 0;
  margin: 0 10px;
}
