$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$medium-grey: #d0dae6;
$dark-grey: #8A9299;

.alert {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 10px;
  background: $light-grey;
}

.navbar {
  display: flex;
  height: 59px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding: 0 20px;
  border-bottom: 1px solid $light-grey;
}

.links {
  display: flex;
  flex-direction: row;
  border-right: 1px solid $leather;
}

.link-container > a {
  width: 80px;
  text-align: center;
  text-transform: uppercase;
}

.link-container {
  cursor: pointer;
  font-size: 16px;
  padding: 0 10px;
  border-left: 1px solid $leather;
}

.logo a {
  display: flex;
  flex-direction: row;
}

.logo-img {
  background-image: url("http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/cribmapper-logo.png");
  margin: 2px;
  width: 32px;
  height: 32px;
}

.logo h3 {
  color: $navy-blue;
  font-size: 24px;
  font-weight: 900;
}
