.listing-commute {
  display: flex;
  flex-direction: column;
}


.listing-commute > header {
  display: flex;
  justify-content: space-between;
}

.listing-commute h3 {
  padding-right: 20px;
}

.commute.fields > button {
  width: auto;
}

.filter h4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.commute.fields {
  margin: 10px;
  width: 118px;
  margin-left: 0;
  align-items: center;
}

.driving {
  background-image: image-url("driving-navy.png");
}

.transit {
  background-image: image-url("transit-navy.png");
}

.walking {
  background-image: image-url("walking-navy.png");
}

.map-view {
  background-image: image-url("map-view.png");
}

.street-view {
  background-image: image-url("street-view.png");
}

.route-view {
  background-image: image-url('route-view.png');
}

.panel-view {
  background-image: image-url('panel-view.png');
}

#listing-commute-map {
  height: 250px;
  width: 100%;
}

#commute-form-map {
  height: 250px;
  width: 100%;
}

#listing-commute-panel {
  direction: ltr;
  font-size: 14px;
  height: 300px;
  overflow: auto;
  background: white;
  border-radius: 2px;
  padding: 2px 10px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.work.modal {
  width: 500px;
}
