  $light-blue: #8EAEBD;
  $navy-blue: #0F1626;
  $leather: #AB987A;
  $coral: #FF533D;

.listing-preview {
    margin: 10px;
    padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
    border: 1px solid;
    border-radius: 2px;
    border-color: #8EAEBD;
}

.listing-preview > section {
  padding-bottom: 20px;
}

.listing-description header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-preview > section:nth-last-child(1) {
  padding-bottom: 0;
}

.listing-preview h3 {
  font-size: 18px;
}
  /* Listing Gallery **************************/
.listing-preview-gallery {
  flex-direction: column;
  height: 330px;
  border-radius: 2px;
}

section.image-display {
  width: 100%;
  background: white;
  height: 300px;
  position: relative;

}

.image-display > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrows {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.arrows > button {
  width: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.arrows > button:hover {
  opacity: 1;
}

.next {
  margin: 0 10px;
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929809/icons/arrow-right.png");
}

.previous {
  margin: 0 10px;
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929809/icons/arrow-left.png");
}

section.dots-gallery {
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 10px 0;;
}

.dots-gallery > div {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/dot-unfilled.png");
  opacity: 0.2;

}

.dots-gallery > div:hover {
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/dot-filled.png");
  opacity: 0.4;
}

.dots-gallery > div.selected {
  background-image: url("https://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/dot-filled.png");
  opacity: 0.4;
}

.listing-preview > .listing-commute ul {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-top: 1px solid #AB987A;
  flex: 1;
}

.listing-preview > .listing-commute ul li:nth-child(odd) {
  background: #F1F1F1;
}

.listing-sidebar > .listing-commute ul li:nth-child(even) {
  background: #FAFAFA;
}

.commute.fields button:nth-child(1) {
  margin-left: 0;
}

.listing-description {
  overflow: hidden;
}

.listing-description .hidden {
  max-height: 0;
  transition: all 0.5s ease-in-out;
}

.listing-description .expanded {
  max-height: none;
  transition: all 0.5s ease-in-out;
}

.listing-description > section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.listing-description > a {
  padding-top: 10px;
}

.listing-description .overlay {
  height: 90px;
  z-index: 2;
  opacity: 0.9;
  background: white;
  background: -webkit-linear-gradient(transparent, white);
  background: -o-linear-gradient(transparent, white);
  background: -moz-linear-gradient(transparent, white);
  background: linear-gradient(transparent, white);
}

.listing-description a {
  color: $light-blue;
}

.listing-description a:hover {
  color: $navy-blue;
}

.listing-preview .listing-header h4 {
  width: 240px;
}

/* listing header ***************/
.listing-preview .listing-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listing-preview .listing-header > ul > li {
  border-right: 1px solid #e8edf3;
  padding: 0 10px;
}

.listing-preview .listing-header > ul > li:nth-last-child(1) {
  border-right: none;
}

/* listing details ***************/
.listing-preview .listing-details {
  border-bottom: 1px solid #e8edf3;
  border-top: 1px solid #e8edf3;
  padding-top: 20px;
  margin-bottom: 20px;
}

.listing-preview .listing-details > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.listing-preview .listing-details > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-preview .listing-details > ul > li > div {
  margin-bottom: 5px;
}
