$light-blue: #8EAEBD;
$ultramarine: #031424;
$indigo: #30415D;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;

.listing-preview {
      margin: 10px;
      padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
      border: 1px solid;
      border-radius: 2px;
      border-color: #8EAEBD;
}

.listing-preview > section {
  padding-bottom: 10px;
}
.listing-preview > header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-preview > section:nth-last-child(1) {
  padding-bottom: 0;
}

// .listing-preview > description {
//   padding-bottom: 10px;
//   width: 458px;
//   white-space: pre-line;
// }

.listing-preview h2 {
  // font-weight: 400;
  // border-right: 1px solid #AB987A;
  padding: 0 10px;
}

// .listing-preview > .listing-commute > section {
//   display: flex;
// }

.listing-preview button.favorite-icon {
  margin: 0 10px;
}

.listing-preview h3 {
  font-size: 18px;
}

div.details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    border-right: 1px solid #AB987A;
    border-left: 1px solid #AB987A;

}



/* Listing Gallery **************************/
.listing-preview-gallery {
    flex-direction: column;
    height: 330px;
    border-radius: 2px;
}

section.image-display {
    /* height: 100%; */
    width: 100%;
    background: white;
    height: 300px;
    position: relative;

}

.image-display > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // border-radius: 2px;
  // border: 1px solid white;
}

.arrows {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.arrows > button {
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  width: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.arrows > button:hover {
  opacity: 1;

}

.next {
  margin: 0 10px;
  background-image: image-url("arrow-right.png");
}

// .next:hover {
//   opacity: 1;
// }

.previous {
  margin: 0 10px;
  background-image: image-url("arrow-left.png");
}
//
// .previous:hover {
//   opacity: 1;
// }

section.dots-gallery {
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // overflow: scroll;
  padding: 10px 0;
  // background: white;
  // padding-bottom: 10px;
}

.dots-gallery > div {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-image: image-url("dot-unfilled.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  opacity: 0.2;

}

.dots-gallery > div:hover {
  background-image: image-url("dot-filled.png");
  opacity: 0.4;
}

.dots-gallery > div.selected {
  // border-color: $navy-blue;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-image: image-url("dot-filled.png");
  opacity: 0.4;
}

.listing-preview > .listing-commute ul {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
    border-top: 1px solid #AB987A;
    flex: 1;
}

.listing-preview > .listing-commute ul li {
  // display: flex;
  // justify-content: space-between;
  border-bottom: 1px solid #AB987A;
  padding: 10px;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid #AB987A;
}


.listing-preview > .listing-commute ul li:nth-child(odd) {
    background: #F1F1F1;
}

.listing-sidebar > .listing-commute ul li:nth-child(even) {
    background: #FAFAFA;
}

.commute.fields button:nth-child(1) {
  margin-left: 0;
}
