$ligh-blue: #8EAEBD;
$ultramarine: #031424;
$indigo: #30415D;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;

/* Listing Index **************************/
.listing-index {

}

.listing-index-item {
  margin: 10px;
  height: 150px;
  border: 1px solid;
  border-radius: 1px;
  border-color: #8EAEBD;
  background: #FFFFFF;
  display: flex;
  font-size: 16px;
}

.listing-index-item:hover {
  border-color: #0F1626;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.listing-index-item .container {
  min-width: 50%
}

.listing-index-item .thumbnail {
  height: 150px;
  width: 50%;
  background-size: cover;
}

.thumbnail {
  // background-repeat: no-repeat;
  background-size: cover;
}

.listing-index-item description {
  width: 50%;
  margin: 20px;
}

.listing-index-item header {
  border-bottom: 1px solid #AB987A;
  font-weight: 400;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}

.listing-index-item h4 {
  font-size: 18px;
}
