$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

.pets {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pets > div {
    width: 24px;
    height: 24px;
    // background-position: center;
    // background-size: contain;
    margin-left: 2px;
}

.cats {
  background-image: image-url('cat.png');
}

.dogs {
  background-image: image-url('dog.png');
}

/* Listing Show **************************/
.listing-show {
  min-width: 960px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.listing-show h3 {
  font-size: 18px;
}
button.back-to-results {
  border-radius: 2px;
  background: $light-grey;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
}

button.back-to-results:hover {
    background: $light-blue;
}

.listing-main {
  min-width: 600px;
  max-width: 800px;
  margin: 10px;
}

.listing-main > section {
  padding-bottom: 20px;
}

.listing-header header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listing-header h2 {
  // font-weight: 400;
  font-size: 36px;
  // font-weight: 400;
}

.listing-header h3 {
  font-size: 24px;
  // padding-top: 5px;
  // text-transform: capitalize;
  // font-weight: 400;
}

.listing-main > .description {
  padding: 20px 0;
  white-space: pre-line;
}


.listing-sidebar {
  // width: 350px;
  min-width: 350px;
  margin: 10px;
}

.listing-sidebar h3 {
  // font-size: 18px;
}

.listing-sidebar > section {
  margin: 10px;
}

/* Listing Gallery **************************/
.listing-gallery {
  height: 520px;
  // padding-top: 20px;
}

section.display {
  height: 400px;
  background: $navy-blue;
  // padding: 10px;
  display: flex;
  flex-direction: row;

}

.display > div {
  // height: 100%;
  width: 35px;
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
}

.display > div.selected {
  width: 100%;
  margin: 10px 0;
}

.next {
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
  background-image: image-url("arrow-right.png");
}

.next:hover {
  opacity: 1;
}

.previous {
  cursor: pointer;

  margin: 0 10px;
  opacity: 0.5;
  background-image: image-url("arrow-left.png");
}

.previous:hover {
  opacity: 1;
}

section.thumbnail-gallery {
    height: 100px;
    background: #e8edf3;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding: 10px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.thumbnail-gallery > div {
cursor: pointer;
height: 98px;
min-width: 125px;
margin-right: 5px;
border: 1px solid;
border-radius: 2px;
border-color: #8EAEBD;
opacity: 0.8;

}

.thumbnail-gallery > div:hover {
  box-shadow: 0 2px 6px $light-grey;
}

.thumbnail-gallery > div.selected {
  border-color: $navy-blue;
  box-shadow: 0px 2px 6px $light-grey;
  opacity: 1;
}



/* Listing Details **************************/
.listing-details {
  text-transform: capitalize;
  // width: 100%;
  // margin: 10px;
}

.listing-details > ul {
  margin: 10px 0;
  border-top: 1px solid #AB987A;
}

.listing-details > ul li {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #AB987A;
}

.listing-details > ul li:nth-child(even) {
  background: #FAFAFA;
}

.listing-details > ul li:nth-child(odd) {
  background: #F1F1F1;
}

// .listing-details ul li h4 {
//   font-weight: 400;
// }

.listing-commute {
  // border-bottom: 1px solid #FF533D;
  display: flex;
  flex-direction: column;
}


.listing-commute > header {
  display: flex
}

.listing-commute h3 {
  padding-right: 20px;
}

.listing-commmute ul {

}
/* Listing Contact **************************/
.listing-contact {
  // margin: 10px;
}

.listing-contact > section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.avatar {
  background-image: image-url("avatar.png");
  height: 100px;
  width: 100px;
}

.listing-contact description {
  width: 250px;
}
