$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #8A9299;
$medium-grey: #d0dae6;

.pets {
    display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.pets > div {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}

.cat {
  background-image: url('http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/cat.png');
}

.dog {
  background-image: url('http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/dog.png');
}

.bath {
  background-image: url('http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929809/icons/bath.png');
}

.bed {
  background-image: url('http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/bed.png');
}

.parking {
  background-image: url('http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929811/icons/parking.png');
}
  /* Listing Show **************************/
.listing-show {
  display: flex;
  justify-content: center;
  margin: 10px;
  min-width: 1000px;
}

.listing-show h3 {
  font-size: 18px;
}

button.navigation {
  border-radius: 2px;
  background: $light-grey;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  margin-bottom: 10px;
  font-size: 14px;
}

button.navigation:hover {
  background: $light-blue;
}

.listing-main {
  min-width: 600px;
  max-width: 800px;
  margin: 10px;
}

.listing-main > section {
  padding-bottom: 20px;
}

.listing-header header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listing-show .listing-header header {
  justify-content: space-between;;
}

.listing-header h2 {
  font-size: 36px;
}

.listing-header h3 {
  font-size: 24px;
}

.listing-main > .description {
  padding: 20px 0;
  white-space: pre-line;
}


.listing-sidebar {
  min-width: 350px;
  max-width: 400px;
  margin: 10px;
}

.listing-sidebar h3 {
}

.listing-sidebar > section {
  margin: 10px;
}

  /* Listing Gallery **************************/
.listing-gallery {
  height: 420px;
}

section.display {
  height: 400px;
  background: $navy-blue;
  display: flex;
  flex-direction: row;

}

.display > div {
  width: 35px;
}

.display > div.selected {
  width: 100%;
  margin: 10px 0;
}

.next {
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
  background-image: url("http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929809/icons/arrow-right.png");
}

.next:hover {
  opacity: 1;
}

.previous {
  cursor: pointer;

  margin: 0 10px;
  opacity: 0.5;
  background-image: url("http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929809/icons/arrow-left.png");
}

.previous:hover {
  opacity: 1;
}

section.thumbnail-gallery {
  height: 100px;
  background: #e8edf3;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding: 10px 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.thumbnail-gallery > div {
  cursor: pointer;
  height: 98px;
  min-width: 125px;
  margin-right: 5px;
  border: 1px solid;
  border-radius: 2px;
  border-color: #8EAEBD;
  opacity: 0.8;

}

.thumbnail-gallery > div:hover {
  box-shadow: 0 2px 6px $light-grey;
}

.thumbnail-gallery > div.selected {
  border-color: $navy-blue;
  box-shadow: 0px 2px 6px $light-grey;
  opacity: 1;
}

  /* Listing Details **************************/
.listing-details {
  text-transform: capitalize;
}

.listing-table > ul {
  margin: 10px 0;
  border-top: 1px solid #AB987A;
}

.listing-table > ul li {
  padding: 0 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #AB987A;
}

.listing-table > ul li:nth-child(even) {
  background: #FAFAFA;
}

.listing-table > ul li:nth-child(odd) {
  background: #F1F1F1;
}

/* Listing Contact **************************/
.listing-contact {
}

.listing-contact > section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.avatar {
  background-image: url('http://res.cloudinary.com/dbgp4ftst/image/upload/v1481929810/icons/contact.png');
  height: 100px;
  width: 100px;
}

.listing-contact description {
  width: 250px;
}
