$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

.listing-modal {
}

.listing-modal > section {
  padding-bottom: 10px;
  white-space: pre-line;
}

.listing-modal > section:nth-last-child(1) {
  padding-bottom: 0;
}

.listing-modal > section > header {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.listing-modal > section.description {
  font-size: 14px;
}
