.listing-modal > section {
  padding-bottom: 10px;
  white-space: pre-line;
}

.listing-modal > section:nth-last-child(1) {
  padding-bottom: 0;
}

.listing-modal > section > header {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.listing-modal > section.description {
  font-size: 14px;
}
