$light-blue: #8EAEBD;
$navy-blue: #0F1626;
$leather: #AB987A;
$coral: #FF533D;
$light-grey: #e8edf3;
$dark-grey: #d0dae6;

.pets {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pets > div {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    margin-left: 2px;
}

.cats {
  background-image: image-url('cat.png');
}

.dogs {
  background-image: image-url('dog.png');
}

/* Listing Show **************************/
.listing-show {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button.back-to-results {
  // background: #a5cfe2;
  // border-radius: 1px;
  // border: 1px solid #8EAEBD;
  // padding: 5px 0;
  // width: 150px;
  // text-align: center;
  // text-transform: capitalize;
    background: $light-grey;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    width: 244px;
}

button.back-to-results:hover {
    background: $light-blue;
}

.listing-main {
  min-width: 600px;
  max-width: 800px;
  margin: 10px;
}

.listing-main > header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
      align-items: center;
  justify-content: space-between;
}

.listing-main h2 {
  // font-weight: 400;
  font-size: 38px;
  // font-weight: 400;
}

.listing-main h3 {
  font-size: 24px;
  padding-top: 5px;
  text-transform: capitalize;
  // font-weight: 400;
}

.listing-main > .description {
  padding-top: 20px;
}


.listing-sidebar {
  width: 350px;
  min-width: 350px;
  margin: 10px;
}

.listing-sidebar h3 {
  font-size: 18px;
}

/* Listing Gallery **************************/
.listing-gallery {
  height: 560px;
  padding-top: 20px;
}

section.display {
  height: 440px;
  background: $navy-blue;
  // padding: 10px;
  display: flex;
  flex-direction: row;

}

.display > div {
  // height: 100%;
  width: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.display > div.selected {
  width: 100%;
  margin: 10px 0;
}

.next {
  margin: 0 10px;

  opacity: 0.5;
  background-image: image-url("arrow-right.png");
}

.next:hover {
  opacity: 1;
}

.previous {
  margin: 0 10px;
  opacity: 0.5;
  background-image: image-url("arrow-left.png");
}

.previous:hover {
  opacity: 1;
}

section.thumbnail-gallery {
  height: 110px;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding-bottom: 10px;
}

.thumbnail-gallery > div {
  height: 98px;
  min-width: 125px;
  margin: 10px 5px 0 0;
  border: 1px solid;
  border-radius: 1px;
  border-color: $light-blue;
  opacity: 0.8;

}

.thumbnail-gallery > div:hover {
  box-shadow: 2px 2px 5px $light-grey;
}

.thumbnail-gallery > div.selected {
  border-color: $navy-blue;
  box-shadow: 2px 2px 5px $light-grey;
  opacity: 1;
}



/* Listing Details **************************/
.listing-details {
  margin: 10px;
}

.listing-details ul {
  margin-top: 10px;
  border-top: 1px solid #AB987A;
}

.listing-details ul li {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #AB987A;
}

.listing-details ul li:nth-child(even) {
  background: #FAFAFA;
}

.listing-details ul li:nth-child(odd) {
  background: #F1F1F1;
}

// .listing-details ul li h4 {
//   font-weight: 400;
// }

/* Listing Contact **************************/
.listing-contact {
  margin: 10px;
}

.listing-contact > section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.avatar {
  background-image: image-url("avatar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150px;
  width: 100px;
}

.listing-contact description {
  width: 250px;
}
